.login-full {
    display: flex;
    height: 100vh;
  }
  .login-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-left {
    width: 50%;
    background: url(/assets/images/login.jpg);
    background-size: cover;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 20px;
  }
  .form-wrapper{
    min-width: 400px;
  }
  .input-design {
    height: 56px;
    width: 100%;
    padding: 6px;
    border: 1.4px solid var(--lightprimaryorigin);
    border-radius: 4px;
    margin-bottom: 16px;
    direction: ltr;
  }
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  .input-design::placeholder{
    direction: rtl; 
    text-align: right;
    font-size: 14px;
    color: #aaa; 
  }
  .button-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .message {
    color: #333;
    margin-top: 10px;
  }
  .error-message{
      color: var(--lightsemanticerrorlight);
      font-size: 14px;
  }
  