/* cm */
.event-card {
  background-color: #fff7ee;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
  font-family: "Arial", sans-serif;
  text-align: right;
  direction: rtl;
}

.event-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.event-details {
  margin-bottom: 20px;
}

.event-detail {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.event-icon {
  font-size: 18px;
  margin-left: 8px;
}

.event-text {
  font-size: 16px;
  color: #333;
}

.add-to-calendar {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

.add-to-calendar:hover {
  text-decoration: underline;
}

.event-button {
  background-color: #ff8c00;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.event-button:hover {
  background-color: #e67e00;
}
