/* .event-card {
  background-color: #fff7ee;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: auto;
  font-family: "Arial", sans-serif;
  text-align: right;
  direction: rtl;
} */
.event-card {
  background-color: #fff7ee;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: 0;
  margin-top: 20px;
  font-family: "Arial", sans-serif;
  text-align: right;
  direction: rtl;
}
.event-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 60px;
}

.event-short-des {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

.event-details {
  margin-bottom: 20px;
}

.event-detail {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.event-icon {
  font-size: 32px;
  margin-left: 8px;
  display: flex;
  align-items: center;
}
.event-image {
  width: 40px;
  height: 40px;
}
.event-text {
  font-size: 20px;
  color: #333;
  line-height: 1.5;
}

.event-button {
  background-color: #ff8c00;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.event-button:hover {
  background-color: #ffac4d;
}
