.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--lightsurfacelevel-0);
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  gap: 2.4rem;
  padding: 2.4rem;
  width: 100%;
  max-width: 60rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.15);
}
.modal-text{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.modal-title {
  text-align: center;
  color: var(--black);
}

.modal-subtitle {
  text-align: center;
  color: var(--lightprimarydark);
  font-size: 1.6rem;
  line-height: 4.4rem;
  margin-top: 1.6rem;
}

.modal-description {
  text-align: center;
  color:var(--black);
  font-size: 1.4rem;
  line-height: 3.2rem;
}
.form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:2.4rem;
}
.input-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border: 0.14rem solid var(--lightprimaryorigin);
  border-radius: .4rem;
  padding: 8px 12px;
}

.input-prefix {
  color:var(--lightprimaryorigin);
  font-size: 1.4rem;
  padding-left: 0.8rem;
}

.input {
  flex: 1;
  border: none;
  font-size: 14px;
  padding: 8px;
  outline: none;
}
.input::placeholder{
  direction: rtl;
  position: absolute;
  left:38rem;
}
.error-message{
  color:var(--lightsemanticerrororigin);
}

.alternate-login,
.register-link {
  text-align: center;
  font-size: 1.4rem;
  color:var(--black);
}

.alternate-login .link-red {
  color: var(--lightsemanticerrorlight);
  cursor: pointer;
}
