.dashboardcontainer{
  width: 100%;;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:4rem;
}
.main-content {
  flex: 1; /* استفاده از کل فضای باقی‌مانده */
  background-color: var(--lightsurfacelevel-0); /* پس‌زمینه محتوای اصلی */
  border-radius: 12px;
  padding: 16px; /* فاصله داخلی */
  box-shadow: 0 4px 8px var(--blacka-24); /* سایه برای زیبایی */
}

.profile-menu {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start;
  gap: 0.8rem; 
  position: relative;
  direction: rtl; 
}

.profile {
  background-color: var(--lightsurfacelevel-0);
  border:0.1 rem solid var(--lightsurfacelevel-0);
  border-radius: 1.2rem;
  position: relative;
  width: 28.8rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2.4rem;
  height: 9.6rem;
}

.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  justify-content: flex-start;
  position: relative;
}

.text-wrapper {
  color: var(--blacka-87);
  text-align: right;
  width: fit-content;
}

.vuesax-bold-profile {
  height: 4rem;
  width: 4rem;
}

.menu-items {
  background-color: var(--lightsurfacelevel-0);
  border: 0.1rem solid var(--lightsurfacelevel-2);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1.2rem;
  height: auto; /* ارتفاع خودکار */
  position: relative;
  width: 28.8rem; /* عرض ثابت برای منوی داشبورد */
  flex-shrink: 0; /* جلوگیری از کوچک شدن */
}

.items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-data {
  align-items: center;
  display: flex;
  gap: 0.8rem;
  height: 5.6rem;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  padding-right: 0.8rem;
}

.profile-data:hover {
  background-color: var(--lightprimarya-8);
  border-radius: 0.8rem;
}

.profile-data.active {
  background-color: var(--lightprimarya-16); /* پس‌زمینه تب فعال */
  border-right: 0.6rem solid var(--lightprimaryorigin); /* نشانگر تب فعال */
  border-radius: 8px;
  color: var(--lightprimaryorigin); /* تغییر رنگ متن */
  padding-right: 0.8rem;
}

.profile-data.active .icon-instance-node {
  color: var(--lightprimaryorigin); /* تغییر رنگ آیکون */
}

.profile-data.active:hover {
  background-color: var(--lightprimarya-24); /* تغییر رنگ در حالت hover */
}

.div {
  color: var(--blacka-87);
  text-align: right; /* متن در سمت چپ */
  white-space: nowrap;
  width: fit-content;
}

.icon-instance-node {
  height: 2rem !important;
  width: 2rem !important;
}

.text-wrapper-2 {
  color: var(--blacka-56);
  font-size: 1.6rem;
  white-space: nowrap;
  width: fit-content;
}

.profile-data-3 {
  align-items: center;
  background-color: var(--lightsemanticerrora-8);
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  padding-right: 0.8rem;
  display: flex;
  gap: 8px;
  height: 5.6rem;
  border-radius: 0.8rem;
}

.profile-data-3:hover {
  background-color: var(--lightsemanticerrorlight);
  border-radius: 0.8rem;
  color: var(--white);
}

.profile-data-3:hover .text-wrapper-3  {
  color: var(--white); 
}
.profile-data-3:hover .icon-instance-node  {
  color: var(--white); 
}
.text-wrapper-3 {
  color: var(--blacka-87);
  font-size: 16px;
  white-space: nowrap;
  width: fit-content;
}