.accordion {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.item {
  padding: 24px;
  border: 1px solid #343a40; /* Default grey border */
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
  direction: rtl;
  transition: border 0.3s ease; /* Smooth transition for border */
}

.number,
.text {
  font-size: 24px;
  font-weight: 500;
  /* color: #ff8c00; */
}

.number {
  color: #ced4da;
}

.icon {
  width: 24px;
  height: 24px;
  /* stroke: #ff8c00; */
  transition: transform 0.2s ease;
}

.hidden-box {
  grid-column: 2;
  display: none;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.hidden-box ul {
  color: #868e96;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.open {
  border: 4px solid #ff8c00;
}

.open .hidden-box {
  display: block;
}

.open .number,
.open .text,
.open .icon {
  color: #ff8c00;
}

.item.open {
  border-top: 4px solid #ff8c00;
}

.item.open .icon {
  transform: rotate(180deg); /* Rotate the icon upwards */
}
