.FAQ-section-container {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  gap: 20px;
  padding: 9.6rem 0;
}

.FAQ-accordion {
  width: 100%;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.FAQ-accordion.fade-in {
  opacity: 1;
}
.FAQ-header {
  font-size: 3.6rem;
  font-family: IRANSansX;
  font-weight: 700;
  color: #ff8c00;
  margin-bottom: 1rem;
  line-height: 1.6;
  margin-bottom: 0;
}
