.container {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* .btn {
  border: 1px solid #ff8c00;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
} */
.btn {
  border: 1px solid #ff8c00;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  display: flex; /* Flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.btn:hover {
  background-color: #ff8c00;
}

.btn:hover .btn-icon {
  stroke: #fff;
}

/* .btn-icon {
  height: 24px;
  width: 24px;
  stroke: #ff8c00;
} */
.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #ff8c00;
  display: block; /* Ensure proper alignment inside the button */
}

.page-link:link,
.page-link:visited {
  font-size: 18px;
  color: #343a40;
  text-decoration: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-link:hover,
.page-link:active,
.page-link.page-link--current {
  background-color: #ff8c00;
  color: #fff;
}

.dots {
  color: #868e96;
}
