.myEventsTab {
  padding: 2rem;
  text-align: center;
}

.tabs {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.tab {
  padding: 0.8rem 2rem;
  font-size: 1.4rem;
  border: 1px solid var(--lightprimaryorigin);
  border-radius: 5px;
  background-color: transparent;
  color: var(--lightprimaryorigin);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tab:hover {
  background-color: var(--lightprimarya-56);
  color:var(--white);
}

.activeTab {
  background-color: var(--lightprimarydark);
  color:var(--white);
}

.eventsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.noEvents {
  margin-top: 2rem;
}

.noEventsImg {
  width: 64rem;
  height: 40rem;
  margin-bottom: 1rem;
}

.noEventsText {
  font-size: 2.4rem;
  color: var(--lightprimaryorigin);
}

.error {
  color: var(--lightsemanticerrorlight);
  margin-top: 2rem;
}

.pastEventsContainer {
  margin-top: 2rem;
}

.eventsTable {
  width: 100%;
  border-collapse: collapse;
}

.eventsTable th,
.eventsTable td {
  border: 1px solid #ddd;
  padding: 0.8rem;
  text-align: center;
}

.eventsTable th {
  background-color:var(--lightprimarylight);
  color: var(--white);
}

.eventsTable tr:nth-child(even) {
  background-color: rgba(255, 148, 26, 0.08);
}

.eventsTable tr:hover {
  background-color: rgba(255, 148, 26, 0.15);
}

.eventsTable td {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.4rem;
}
