.myEventsTab {
    padding: 1.6rem;
    font-family: 'IRANSans', sans-serif;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    margin-bottom: 1.6rem;
  }
  
  .eventsContent {
    margin-top: 2rem;
  }
  
  .eventsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 1.6rem;
  }
  
  .noEvents {
    text-align: center;
    margin-top: 3.2rem;
  }
  
  .noEventsImg {
    max-width: 80rem;
    height: 52.8rem;
    margin-bottom: 1.6rem;
  }
  
  .noEventsText {
    font-size: 1.8rem;
    color: #ff8800;
  }
  
  .active {
    background: #cc6d00;
    color: white;
  }
  