.pagecontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:3.2rem;
    background-color: white;
}
.image404{
    max-width: 48rem;
    max-height: 40rem;
}
.message{
    color: var(--lightprimaryorigin);
    margin-top: 4rem;
}
